@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap&subset=latin-ext');
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Anton', sans-serif;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url( '../images/splash.jpg');
  font-family: $font-text;
  color: $color-dark;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}
.sidebar {
  text-align: center;
  background: rgba(217, 217, 217, 0.8);
  color: black;
}
.posts {
  flex: 2 0 0;
  text-align: justify;
  background: rgba(217, 217, 217, 0.8);
  color: black;
  position: relative;
}
/* Logo */

.logo {
  position: relative;
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-bottom: #fff solid 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 80px;
  padding-bottom: 15px;
}
.logo::after {
  position: absolute;
   content: '';
   bottom: -25px;
   left: 50%;
   width: 180px;
   height: 10px;
   transform: translateX(-50%);
   background: #fff;
}
/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;
  &.active {
    display: block;
    animation-name: fadeIn;
    animation-duration: 2s;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

a {
  color: black;
  text-decoration: none;
  margin-right: 5px;
}
